{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block content %}
{% if posts %}
    <h1>Количество публикаций: {{ posts|length }}</h1>
    <hr>
        <table width="100%" style="margin-top: 35px">
            <tr>
                <td>НАЗВАНИЕ</td>
                <td>ДАТА ПУБЛИКАЦИИ</td>
                <td>ОПИСАНИЕ</td>
                <td>КАТЕГОРИЯ</td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.date_create|date:'d M Y' }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
                {% for cat in post.post_category.all %}
                <td>{{ cat.name }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    <hr>
    {% else %}
        <h2>ПУБЛИКАЦИЙ НЕТ!</h2>

    {% endif %}
{% endblock content %}


